*Detach_OOMAO/Pytorch/dataset*
Detach_OOMAO/Pytorch/dataset/
*Detach_OOMAO/Pytorch/model*
Detach_OOMAO/Preconditioners
Detach_OOMAO/Pytorch/__pycache__
Detach_OOMAO/Pytorch/results/
Detach_OOMAO/Matlab/figures/
Detach_OOMAO/Matlab/modes/
Detach_OOMAO/Pytorch/logs/
Detach_OOMAO/Matlab/*.asv

Detach_OOMAO/Pytorch/freedata_results/